<body>
    <div class="container">
        <img src="../../assets/Logo.JPG" alt="" id="logo">
        <div>
            <h1>ICC WORLD CUP 2011</h1>
            <h2>India vs SriLanka Scoreboard</h2>
        </div>
    <div class="table">
     <div>
        <div id="tabhd">
         <div>India Innings</div>
         <div></div>
         <div>277-4(48.2)</div>
        </div>
    </div>
   <div>
       <div id="batsman">
           <div>Batsman</div>
           <div></div>
           <div>R</div>
           <div>B</div>
           <div>4s</div>
           <div>6s</div>
           <div>SR</div>
       </div>
   </div>
   <hr style="width: 6fr;">
   <div>
    <div id="batsman">
        <div ><a href="javascript: void(0)" onclick="window.open('player1.component.html','_blank','width=900,height=300');">Virendar </a>          
        </div>
        <div>Lbw b L Malinga</div>
        <div>0</div>
        <div>2</div>
        <div>0</div>
        <div>0</div>
        <div>0.00</div>
    </div>
</div>
<hr style="width: 6fr;">
<div>
    <div id="batsman">
        <div><a href="">Sachin</a></div>
        <div>ck Sankara b L Malinga</div>
        <div>0</div>
        <div>2</div>
        <div>0</div>
        <div>0</div>
        <div>0.00</div>
    </div>
</div>
<hr style="width: 6fr;">
<div>
    <div id="batsman">
        <div><a href="">Gautham</a>  </div>
        <div>c&b T dilshan</div>
        <div>0</div>
        <div>2</div>
        <div>0</div>
        <div>0</div>
        <div>0.00</div>
    </div>
</div>
<hr style="width: 6fr;">
<div>
    <div id="batsman">
        <div><a href=""> Virat Kohli</a></div>
        <div>not out</div>
        <div>0</div>
        <div>2</div>
        <div>0</div>
        <div>0</div>
        <div>0.00</div>
    </div>
</div>
<hr style="width: 6fr;">
<div>
    <div id="batsman">
        <div><a href="">M S Dhoni</a></div>
        <div>not out</div>
        <div>0</div>
        <div>2</div>
        <div>0</div>
        <div>0</div>
        <div>0.00</div>
    </div>
</div>
<hr style="width: 6fr;">
<div>
    <div id="extra">
        <div>Extras</div>
        <div></div>
        <div>15(b 1,lb 6,W 8,nb 0,p 0)</div>
    </div>
</div>
<hr style="width: 6fr;">
<div>
    <div id="extra">
        <div>Total</div>
        <div></div>
        <div>277(4 wkts,48.2 Ov)</div>
    </div>
</div>
<hr style="width: 6fr;">
<div>
    <div id="bat">
        <div>Did not bat</div>
        <div style="color: blue;">Zaheer Khan,Munaf Patel,S Sreenath</div>
    </div>
</div>
<hr style="width: 6fr;">
    </div>      
       
        
    </div>
   <div>
    <footer class="footer">Made with <img src="../../assets/prograd-heart.svg"> by ProGrad</footer>
   </div>
   
</body>